<div class="container sizer">
  <div class="card card-container p-5">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img class="profile-img-card" src="../../assets/logo.svg" />
    <p class="profile-name-card">Login</p>
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="email" class="form-control m-1" placeholder="Email address" required autofocus [formControl]="userName">
      <input type="password" class="form-control m-1" placeholder="Password" required [formControl]="password" autocomplete="false">
      <div class="checkbox m-1">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->

    <button class="btn btn-lg btn-light" (click)="register()">Register new</button>
    <a href="#" class="forgot-password">
      Forgot the password?
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->